{% extends 'main.html' %}
{% block title %}
Cacatua monolucensis
{% endblock %}
{% block content %}
<div class="container">
    <section>
        <div class="justify-center">
            <form action="" class="form-login">
                <h4>LOGIN</h4>
                <div style="text-align: center;">
                    <img class="login-img" src="static/img/cacatua.jpg" alt="">
                </div>
                <div class="mb-3">
                    <label for="user_name" class="form-label">Usuario</label>
                    <input type="text" class="form-control" id="user_name" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Usuario</label>
                    <input type="password" class="form-control" id="password">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary button">LOGIN</button>
                </div>

            </form>
        </div>
    </section>
</div>
{% endblock %}