{% extends 'main.html' %}
{% block title %}
Registro de usuarios
{% endblock %}
{% block content %}
<div class="container">
    <div class="row main justify-center">
        <form action="" method="post" class="form-register">
            <h4>REGISTRO DE USUARIOS</h4>
            <hr>
            <div class="mb-3">
                <label for="name" class="form-label">Nombres</label>
                <input type="text" class="form-control" id="name">
            </div>
            <div class="mb-3">
                <label for="last_name" class="form-label">Apellidos</label>
                <input type="text" class="form-control" id="last_name">
            </div>
            <div class="mb-3">
                <label for="user_name" class="form-label">Usuario</label>
                <input type="text" class="form-control" id="user_name" placeholder="Ejemplo juanmendoza@gmail.com">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password" placeholder="*****************">
            </div>
            <div class="mb-3">
                <label for="comfirm_password" class="form-label">Confirmar contraseña</label>
                <input type="password" class="form-control" id="comfirm_password" placeholder="*****************">
            </div>
            <div class="mb-3">
                <label for="foto" class="form-label">Elige una foto para cargar</label>
                <input class="form-control" type="file" id="foto">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary button">REGISTRAR</button>
            </div>
            <div class="mb-3">
                <button type="button" class="btn btn-danger button">CANCELAR</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}